  /* Page Content/Box */
  .page-content {
    text-align: center;
    background-color: #fefefe;
    font-size: 24px;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: auto;
    width: auto; /* Could be more or less, depending on screen size */
  }

    /* Page Content/Box */
    .page-content_2 {
        background-color: #fefefe;
        font-size: 18px;
        margin: auto;
        margin-bottom: 15px;
        padding: 20px;
        border: 1px solid #888;
        width: auto; /* Could be more or less, depending on screen size */
        height: 70%;

      }

      .page2-content {
        background-color: #fefefe;
        font-size: 24px;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        height: auto;
        width: 70%; /* Could be more or less, depending on screen size */
      }
